<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>997706105988-n714ugurr9t87l0kgo49dhubv80a1i67.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.997706105988-n714ugurr9t87l0kgo49dhubv80a1i67</string>
	<key>API_KEY</key>
	<string>AIzaSyDYZtjIhIVcy5dyCQnfPFC-n5wrVNmZhqA</string>
	<key>GCM_SENDER_ID</key>
	<string>997706105988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.timeit</string>
	<key>PROJECT_ID</key>
	<string>timeit-104e5</string>
	<key>STORAGE_BUCKET</key>
	<string>timeit-104e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997706105988:ios:ef722e1b14f9f3254eeed1</string>
</dict>
</plist>